<!-- Dentro de entradas.html ou saidas.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Entradas</h2>

<div class="my-4">
    <h2 class="float-left">Lista de Produtos</h2>
    <a href="{{ url_for('add_entrada') }}" class="btn btn-success float-right">
        <i class="material-icons">add</i> Adicionar Produto
    </a>
    <div class="clearfix"></div> <!-- Clear float -->
</div>

<table class="table">
    <!-- Cabeçalho da tabela -->
    <tbody>
        {% for entrada in data %}
        <tr>
            <td>{{ entrada.id }}</td>
            <td>{{ entrada.Qtd }}</td>
            <td>{{ entrada.Data }}</td>
            <td>
                <!-- Botão Editar -->
                <!-- Botão Excluir -->
                <form action="{{ url_for('delete_entrada', entrada_id=entrada.id) }}" method="post" onsubmit="return confirm('Tem certeza que deseja excluir?');" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
